{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

<p>Two-factor authentication is enabled on this account. Please enter the code from your authenticator app below. If you do not have access to your authenticator device, enter a backup code.</p>

<form class="form-narrow" method="post" autocomplete="off" action="/login_two_factor" data-ic-post-to="/login_two_factor">
  <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
  {% if keep %}
  <input type="hidden" name="keep" value="on">
  {% endif %}

  <div class="form-group">
    <label class="form-label col-4" for="code">Code</label>
    <input class="form-input" id="code" name="code" type="text" placeholder="Code" data-js-auto-focus>
  </div>

  <div class="form-buttons">
    <button class="btn btn-primary" type="submit">Continue</button>
  </div>
</form>
